.bookmark {
  border: none;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background: var(--secondary);
  color: var(--white);
  display: flex;     
  align-items: center; 
  justify-content: center; /
}

.bookmark:hover {
  cursor: pointer;
}

.bookmark--active {
  color: var(--black);
}

.bookmark__icon path {
  fill: currentcolor;
  width: 2em;
  height: 2em;
}
